/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close-sidebar {
    width: 88px;
    --light-logo: none;
    --night-logo: none;
    --rolled-logo: block;
}
.sidebar .rolled-logo {
    display: var(--rolled-logo);
    transform: var(--tran-03);
}
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 50px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: #fff;
    transition: var(--tran-03);
}
.sidebar .light-logo {
    display: var(--light-logo);
    transition: var(--tran-03);
}
.sidebar .night-logo {
    display: var(--night-logo);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close-sidebar .text {
    opacity: 0;
}
.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.sidebar header .logo-text {
    display: flex;
    align-items: flex-end;
}
header .image-text .name {
    font-size: 18px;
    font-weight: 600;
    padding-right: 5px;
}

header .image-text .profession {
    font-size: 16px;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.sidebar header .image img {
    width: 90%;
    border-radius: 6px;
    height: 33px;
    object-fit: contain;
}

.sidebar header .toggle {
    position: absolute;
    top: 27%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close-sidebar .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar {
    scrollbar-color: none; /*Цвет скролла, цвет ползунка*/
	scrollbar-width: none; /*Толщина скролла thin, auto*/
}
.menu-bar::-webkit-scrollbar {
    display: none;
}
.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
    margin-bottom: 30px;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}
.mode .sun-moon i.sun {
    opacity: 0;
}
body.dark .mode .sun-moon i.sun {
    opacity: 1;
}
body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}
.sidebar.close-sidebar ~ .wrapper {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

/* ===== Submenu ===== */
.sidebar li.sub-open,
.sidebar li.sub-close {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
}
.sidebar li.sub-close a {
    height: 50px;
}
.sidebar li.sub-open a.sub-link {
    height: 50px;
    border-radius: 6px 6px 0 0;
    background-color: var(--primary-color);
}
.sidebar li.sub-open a.sub-link .icon,
.sidebar li.sub-open a.sub-link .text {
    color: var(--sidebar-color);
}
body.dark .sidebar li.sub-open a.sub-link .icon,
body.dark .sidebar li.sub-open a.sub-link .text {
    color: var(--text-color);
}
.sidebar li.sub-open ul {
    display: block;
    background-color: var(--submenu-bg);
    width: 100%;
    border-radius: 0 0 6px 6px;
    transition: var(--tran-05);
}
.sidebar li.sub-close ul {
    display: none;
}
.sidebar li.sub-open ul li {
    margin-top: 0;
}
.sidebar li.sub-open ul li a:hover {
    background-color: var(--primary-color);
}
/* /===== Submenu =====/ */
/* =========================== */
